<section class="content- header">
	<h1 *ngIf="isLoggedIn()">
		<img src="assets/img/ok-l.png" title="Pontos" alt="Pontos">
		<b>{{pontos?.pontos}} pontos ganhos</b>
		
	</h1>
</section>

<section class="content">
	<h2 style="text-align: center;">PROGRAMA DE FIDELIDADE</h2>
	<hr>
<div class="panel panel-warning">
	<div class="row">
		<div class="col-md-12 col-xs-12">
			<img src="assets/img/fidCarrinho.png" class="rounded center-block" style="padding: 12px;">
			<h4 style="text-align: center;">A cada R$1,00 em compras você ganha 1 ponto.</h4>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12 col-xs-12">
			<img src="assets/img/fidelidadeL.png" class="rounded center-block" style="padding: 12px;">
			<h4 style="text-align: center;">20 pontos equivalem a R$ 1,00, que você acumula para trocar em produtos</h4>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12 col-xs-12">
			<img src="assets/img/observacao.png" class="rounded center-block" style="padding: 12px;">
			<h4 style="text-align: center;">Não é possível trocar os pontos do plano fidelidade pela taxa de entrega dos nossos produtos.</h4>
		</div>
	</div>            
		
</div>

</section>

