<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.sushicam.SushiCam" version="1.0.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SushiCam</name>
    <description>
        Aplicativo para pedidos do restaurante SushICam.
    </description>
    <author email="vinicius.s.dornelas@gmail.com" href="http://cordova.io">
        Octopus soluções em tecnologia
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="19" />
        <config-file parent="/resources" target="./res/values/strings.xml">
            <string name="fb_app_id">2000362333357995</string>
            <string name="fb_app_name">sushiCam</string>
        </config-file>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <icon src="/src/assets/img/logo.png" />
    <plugin name="cordova-plugin-x-socialsharing" spec="https://github.com/EddyVerbruggen/SocialSharing-PhoneGap-Plugin.git" />
    <plugin name="cordova-plugin-device" spec="^2.0.2" />
    <plugin name="cordova-plugin-dialogs" spec="^2.0.1" />
    <plugin name="cordova-plugin-sim" spec="^1.3.3" />
    <plugin name="cordova-plugin-facebook4" spec="^3.1.0">
        <variable name="APP_ID" value="2000362333357995" />
        <variable name="APP_NAME" value="sushiCam" />
        <variable name="FACEBOOK_ANDROID_SDK_VERSION" value="4.37.0" />
    </plugin>
    <plugin name="cordova-plugin-googleplus" spec="5.3.2">
        <variable name="REVERSED_CLIENT_ID" value="com.googleusercontent.apps.650roq847bhtneuu5qem5qdbfhmte2uo-119263952091" />
        <variable name="PLAY_SERVICES_VERSION" value="11.8.0" />
    </plugin>
    <engine name="android" spec="^7.1.1" />
</widget>
