<section class="content-header">

  <div class="alert alert-warning" *ngIf="exibirMensagem" role="alert">
    {{mensagemFuncionamento}}
  </div>

 <!-- <select class="form-control" name="categorias">
   <option 
    *ngFor="let categoria of categorias" 
    [selected]="categoria.id == categoriaAtual" 
    [value]="categoria.id"
    (click)="filtrarCategoria(categoria.id)"
    >{{categoria.nome}}</option>
  </select> -->
<div class="dropdown" style="width: 100%;">
  <button class="btn btn-default dropdown-toggle" style="width: 100%;" type="button" id="categorias" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    {{nomeCategoriaAtual}}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="categorias">
    <li  *ngFor="let categoria of categorias" (click)="filtrarCategoria(categoria.id)"><a href="#">{{categoria.nome}}</a></li>
  </ul>
</div>
</section>


<section class="content">
  <div class="row">
    <div class="col-md-4 col-xs-12" *ngFor="let produto of produtos; let i=index">
      <mt-produto [produto]="produto"></mt-produto>
    </div>


    <div class="col-md-12" style="margin-top: 10px;">
      <a>
        <button type="button" [routerLink]="['/carrinho']" class="btn btn-danger" style="float: right;">
          <img src="assets/img/carrinho.png" alt="Carrinho de compras">
          Ir para carrinho
        </button>
      </a>
    </div>

  </div>
</section>
