<section class="content">
	<form [formGroup]="adicionaisForm" novalidate>
	<div class="panel panel-info" *ngIf="temOpcionais()">
		<div class="panel-heading">
		  <h3 class="panel-title">Opcionais</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-2">
					<label class="radio-inline">
						<input formControlName="wasabi" value="1" type="checkbox"> 
						<img src="assets/img/wasabi.png"> Wasabi
					</label>
				</div>

				<div class="col-md-2">
					<label class="radio-inline">
						<input formControlName="gengibre" value="1" type="checkbox"> 
						<img src="assets/img/gengibre.png"> Gengibre
					</label>
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-warning">
		<div class="panel-heading">
		  <h3 class="panel-title">Adicionais</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-4">
					<label>O seu pedido inclui <span style="color:#DF0000;">{{molho?.quantidade}}</span> molhos. Selecione quais você prefere. 
					</label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<div class="form-group" id="group-nome">
    					<label for="nome"> Molho shoyu: </label>  
  	    				<input  class="form-control" #input1 placeholder="Nº" style="width:50%;display:inline-block;" formControlName="shoyu" min="0" type="number"><br> 		
  	    				Molho adicional: <span style="color:#DF0000;">{{molho?.valor | currency: 'BRL': true}}</span>
  	    			</div>
  	    		</div>

  	    		<div class="col-md-2">
					<div class="form-group" id="group-nome">
    					<label for="nome">Molho teriyaki: </label>  
  	    				<input formControlName="teriyaki" class="form-control" placeholder="Nº" style="width:50%;display:inline-block;" min="0" type="number">  <br> 	
  	    				Molho adicional: <span style="color:#DF0000;">+ {{molho?.valor | currency: 'BRL': true}}</span>		
  	    			</div>
  	    		</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4">
					<label>O seu pedido inclui <span style="color:#DF0000;">+ {{hashi?.quantidade}}</span> hashis. 
						</label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<div class="form-group" id="group-nome">
    					<label for="nome">Hashi: </label> 
  	    				<input formControlName="hashi"  class="form-control" placeholder="Nº" style="width:50%;display:inline-block;" id="hashi" min="1" type="number"><br> 	
  	    				Hashi adicional <span style="color:#DF0000;">+ {{hashi?.valor | currency: 'BRL': true}}</span> 		
  	    			</div>
  	    		</div>
			</div>

		</div>
	</div>

	<div class="panel panel-success">
		<div class="panel-heading">
		  <h3 class="panel-title">Você quer agendar seu pedido? preencha o campo abaixo com o horário desejado entre 19:00 e 23:00 horas.
O agendamento deve ocorrer com o prazo mínimo de 1:30 horas.</h3>

<span style="color: black;">Deixe a opção em braço caso prefira receber seu pedido no prazo normal de entrega.</span>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-2">
					<div class="form-group" id="group-nome">
    					<label for="nome">*Agendar para: </label>  
  	    				<input formControlName="agendar" [textMask]="{mask: mascara}" class="form-control" style="width:50%" type="text">
  	    			</div>
  	    		</div>

  	    		<div class="col-md-4" *ngIf="pedirTelefone()">
					<div class="form-group" id="group-nome">
    					<label for="nome">*Telefone de contato: </label>  
  	    				<input formControlName="telefone" [textMask]="{mask: mascaraTelefone}" class="form-control" style="width:50%" type="text">
  	    			</div>
  	    		</div>
			</div>
		</div>
	</div>

	<div class="alert alert-danger" *ngIf="!temBebidas()">
	  Não existem bebidas em seu pedido. <a [routerLink]="['/produtos/10']"><strong>Escolher bebidas</strong></a>
	</div>

	<div class="panel panel-info">
			<div class="panel-heading">
			  <h3 class="panel-title">Deseja acrescentar alguma informação adicional? </h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group" id="group-nome">
	    					<textarea rows="4" formControlName="observacoes" cols="50" class="form-control"></textarea>
	  	    			</div>
	  	    		</div>
				</div>
			</div>
		</div>

</form>

	<div class="row">
		<div class="col-md-12">
			<button (click)="salvar(adicionaisForm.value)"  [disabled]="!adicionaisForm.valid" class="btn btn-success" style="float: right;">
				<img src="assets/img/confirmarpedido.png" title="Confirmar pedido" alt="Confirmar Pedido">
				<b>Confirmar pedido</b>
			</button>
		</div>
	</div>

</section>