<section class="content">
	<form [formGroup]="adicionaisForm" novalidate>
	<div class="panel panel-info" *ngIf="temOpcionais()">
		<div class="panel-heading">
		  <h3 class="panel-title">Opcionais</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-2">
					<label class="radio-inline">
						<input formControlName="wasabi" value="1" type="checkbox"> 
						<img src="assets/img/wasabi.png"> Wasabi
					</label>
				</div>

				<div class="col-md-2">
					<label class="radio-inline">
						<input formControlName="gengibre" value="1" type="checkbox"> 
						<img src="assets/img/gengibre.png"> Gengibre
					</label>
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-warning">
		<div class="panel-heading">
		  <h3 class="panel-title">Adicionais</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-4">
					<label>Até <span style="color:#DF0000;">{{molho?.quantidade}}</span> molhos grátis 
					+ <span style="color:#DF0000;">{{molho?.valor | currency: 'BRL': true}}</span> por unidade adicional</label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<div class="form-group" id="group-nome">
    					<label for="nome"> Molho shoyu: </label>  
  	    				<input  class="form-control" placeholder="Nº" style="width:50%;display:inline-block;" formControlName="shoyu" min="0" type="number"> 		
  	    			</div>
  	    		</div>

  	    		<div class="col-md-2">
					<div class="form-group" id="group-nome">
    					<label for="nome">Molho teriyaki: </label>  
  	    				<input formControlName="teriyaki" class="form-control" placeholder="Nº" style="width:50%;display:inline-block;" min="0" type="number">   	 		
  	    			</div>
  	    		</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4">
					<label>Até <span style="color:#DF0000;">{{hashi?.quantidade}}</span> hashis grátis + 
						<span style="color:#DF0000;">{{hashi?.valor | currency: 'BRL': true}}</span> por unidade adicional</label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<div class="form-group" id="group-nome">
    					<label for="nome">Hashi: </label> <br>
  	    				<input formControlName="hashi"  class="form-control" placeholder="Nº" style="width:50%;display:inline-block;" id="hashi" min="1" type="number">	 	 		
  	    			</div>
  	    		</div>
			</div>

		</div>
	</div>

	<div class="panel panel-success">
		<div class="panel-heading">
		  <h3 class="panel-title">Agendar meu pedido. De 19:00 as 23:30.</h3>

		  <h3 class="panel-title">Caso queira o mais rápido possível favor deixar a opção em branco.</h3>
		  <h3 class="panel-title">Agende seu pedido com no minimo 1 hora de antecedência.</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-2">
					<div class="form-group" id="group-nome">
    					<label for="nome">*Agendar para: </label>  
  	    				<input formControlName="agendar" mask='99:99' class="form-control" style="width:50%" type="text">
  	    			</div>
  	    		</div>
			</div>
		</div>
	</div>

	<div class="alert alert-danger" *ngIf="!temBebidas()">
	  Não existem bebidas em seu pedido. <a [routerLink]="['/']"><strong>Escolher bebidas</strong></a>
	</div>

</form>

	<div class="row">
		<div class="col-md-12">
			<button (click)="salvar(adicionaisForm.value)"  [disabled]="!adicionaisForm.valid" class="btn btn-success" style="float: right;">
				<img src="assets/img/confirmarpedido.png" title="Confirmar pedido" alt="Confirmar Pedido">
				<b>Confirmar pedido</b>
			</button>
		</div>
	</div>


</section>