<div class="wrapper">

  <mt-header></mt-header>

  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div class="container" style="margin-top: 55px;">

      <router-outlet></router-outlet>

    </div>
  </div>

  <!-- snakbar deve ser aqui -->
  <mt-snackbar></mt-snackbar>
  <footer class="main-footer">
    <div class="container">
      <div class="pull-right hidden-xs">
        <b>Versão</b> 1.0.0
      </div>
      <strong>Octopus</strong> Soluções em tecnologia
    </div>
  </footer>
</div>
