
<section class="content-header">
	<h1 *ngIf="isLoggedIn()">
		<img src="assets/img/ok-l.png" title="Pontos" alt="Pontos">
		<b>{{pontos?.pontos}} pontos ganhos</b>
		
	</h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-md-12 col-xs-12" *ngFor="let banner of banners">
			
			<img *ngIf="banner.categoria == null" [src]="baseUrl+banner.imagem" class="img-responsive">

			<a *ngIf="banner.categoria != null" [routerLink]="['/produtos', banner.categoria]">
				<img [src]="baseUrl+banner.imagem" class="img-responsive">
			</a>
			<hr>
		</div>
	</div>
</section>
